.search-movie {
    margin: 30px;
    input {
        padding: 10px 20px;
        display: block;
        font-size: 24px;
        width: 50%;
        margin: auto;
        border: none;
        border-bottom: 1px solid #000;
    }
}